.home
{
    padding-top: 50px;
    padding-left: 20%;
    transition: 3s;
    animation: slideIn 2s normal forwards;
    .title
    {
        font-size: 48px;
    }
    .text-about
    {
        margin-top: 30px;
        margin-left: 2%;
        width: 800px;
        font-size: 26px;
    }

    @media all and(max-width:1200px)
    {
        padding-left: 10%;
    }
    @media all and(max-width:1000px)
    {
        .title
        {
            font-size: calc(10vw - 100%);
        }
        .text-about
        {
            font-size: calc(8vw - 100%);
            width: 80%;
        }
        justify-content: center;
        
    }
    overflow:hidden;
}

.piece
{
    position: absolute;
    left: 70%;
    z-index: -10;
    top: 20%;
    animation: intro 5s forwards normal;
    overflow: hidden;
}

@keyframes intro
{
    0%{
        // transform: rotate(0deg);
        transform: translateY(calc(0vh - 30vh));
    }
    100%{
        // transform: rotate(360deg);
        transform: translateY(30%);
    }
}

@keyframes slideIn
{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }   
    40%{
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
    } 
}

.colabs
{
    overflow: hidden;
}