<div class="col-sm-12 justify-center align-center flex h-100 home">
    <p class="white half about-text">
        Este jogo foi feito como trabalho de faculdade na FATEC São Caetano do Sul
        como nota para o quarto semestre na matéria de Desenvolvimento Web.
    </p>
    <div class="half flex direction-column justify-center">
        <img class="about-img" [src]="'./assets/gabriel.jpg'">
        <div class="flex justify-between">
            <i class="material-icons arrow">keyboard_arrow_left</i> 
            <div class="flex direction-column"> <p>Gabriel Silva de Camargo</p> <p class="text-center"> FullStack Developer </p> </div>
            <i class="material-icons arrow">keyboard_arrow_right</i>
        </div>
    </div>
</div>