<div class="col-sm-12 justify-center align-center flex h-100 home">
    <p class="white half about-text">
        Este jogo foi feito como trabalho de faculdade na FATEC São Caetano do Sul
        como nota para o quarto semestre na matéria de Desenvolvimento Web.
    </p>
    <div class="half flex direction-column justify-center">
        <div class="flex justify-between align-end">
            <i class="material-icons arrow" (click)="changeColabPicture(-1)">keyboard_arrow_left</i> 
            <div class="flex direction-column colabs white"> 
                <img class="about-img transition" [src]='colabs[colabActualIndex].picture'>
                <h5 class="text-center">{{colabs[colabActualIndex].name}}</h5> <h5 class="text-center"> {{colabs[colabActualIndex].role}}</h5> 
            </div>
            <i class="material-icons arrow" (click)="changeColabPicture(1)">keyboard_arrow_right</i>
        </div>
    </div>
</div>